[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
django = "*"
django-crispy-forms = "*"
python-dotenv = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
