{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password change{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="display-4 text-center">Password change</h1>
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you
        typed it in correctly.</p>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Change my password" class='btn btn-success'>
    </form>

</div>

{% endblock content %}