body {
    background-color: grey;
    color: white;

}

.card {
    margin: 12px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.task-btns {
    margin: 12px;
    align-self: flex-end;
}

.task-text {
    margin: 0 8px;
    color: black;

}

#navbarDropdown {
    color: white;
}

.nav-link {
    color: white;
}